<style media="screen" type="text/css" >
%4$s
</style>


<h1>Version %1$s</h1>

<p>%2$s</p>

<hr/>

<p><h2>Credits</h2></p>

<p>Developed by <a href="http://nolanlawson.com">Nolan Lawson</a>.</p>
See all my apps <a href='market://search?q=pub:"Nolan Lawson"'>here</a>.

<p>Icons designed by <a href="mailto:nandawilson7@gmail.com">Nanda Wilson</a>.</p>

<p>Inspired by the Python script 
<font face="monospace"><a href="http://jsharkey.org/blog/2009/04/22/modifying-the-android-logcat-stream-for-full-color-debugging">coloredlogcat.py</a></font> 
written by Jeff Sharkey.</p>

CatLog is free and open-source software.  <a href="https://github.com/nolanlawson/Catlog">Fork it on GitHub</a>.<p/>

%5$s

%3$s

